body {
    max-width: 100%;
}

.divider {
    margin: 2rem;
}


.row {
    padding-left: 26px;
    width: 100%;
    justify-content: space-between;
    align-content: space-between;
}

.carousel img {
    width: 100%;
    height: 100%;
}

div {
    display: block;
}

.cards .col-lg-3 {
    text-align: center;
    box-shadow: 6px 6px 14px grey;
    padding-top: 12px;
}

.portrait {
    width: 140px;
    height: 140px;
}

.featurette-heading {
    font-size: 2em;
}

.footer {
    margin-top: 100px;
}

main {
    padding-top: 20px;
}

.lead {
    padding-top: 15px;
}

.lead > span {
    font-weight: 500;
}

.col-lg-4 p {
    font-style: italic;
}

.sec3 {
    padding-top: 100px;
}

@media (min-width: 770px) {
 .toping {
     display: none;
 }
}

@media (max-width: 769px) {
    .toping2 {
        display: none;
    }
}


.carousel-item {
    max-height: 505px;
}

.navbar-collapse {
    margin-left: 15px;
}

.locaux {
    text-align: center;
}

div ul {
    list-style: none;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

.carousel-caption h2 {
    font-size: 2.5em;
}

.carousel-caption {
    font-size: 0.8em;
